.m-demo {
    border-bottom:1px solid #EEE;
    cursor: pointer;
}
.m-demo-item {
    font-size:40px;
    color:#ABCDEF;
    text-decoration: none;
}

html .m-demo--night {
    background-color:#444;
    .m-demo-item {
        color: white;
    }
}
html .m-demo-item--on {
    text-decoration: underline;
}
