<!-- head1 Start -->
<link rel="import" href="./head1.html?__inline">
<!-- head1 End -->
    <title></title>
    <link rel="stylesheet" type="text/css" href="这里写页面需要引用的less">
<!-- head2 Start -->
<link rel="import" href="./head2.html?__inline">
<!-- head2 End -->
页面内容
查看构建后的页面源码。理解公用部分是如何区分的
<!-- foot1 Start -->
<link rel="import" href="./foot1.html?__inline">
<!-- foot1 End -->
    <script src="这里写页面需要引用的js" ></script>
<!-- foot2 Start -->
<link rel="import" href="./foot2.html?__inline">
<!-- foot2 End -->
