.m-loading {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
}
.m-loading-cnt {
    color: white;
    width: 200px;
    padding: 10px 50px;
    line-height: 30px;
    background: #ABCDEF;
    border-radius: 3px;
}
.m-loading--show {
    display: block;
}
