.m-code {
    border: 1px solid #EEE;
    border-radius: 3px;
}
.m-code-title {
    border-bottom: 1px solid #EEE;
    padding: 5px;
    line-height: 20px;
    font-size: 16px;
}
.m-code-cnt {

}
.m-code-cnt-item {
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 12px;
}
