<link rel="import" href="/view/include/header1.html?__inline">
<link rel="stylesheet" type="text/css" href="/view/demo/index.scss">
<link rel="import" href="/view/include/header2.html?__inline">
    <div class="main js-main">
        <div class="main-sidebar">
            .main-siderbar
        </div>
        <div class="main-cnt">
            .main-cnt
        </div>
    </div>

    <div class="main js-main" >
        <div class="main-sidebar">
            .main-siderbar
            <br />
            <button id="LoadingBtn" type="button">loading</button>
        </div>
        <div class="main-cnt">
            .main-cnt
        </div>
    </div>

    <div class="m-code">
        <div class="m-code-title">
            m-code
        </div>
        <div class="m-code-cnt">
            <pre class="m-code-cnt-item">console.log("m-code")</pre>
        </div>
    </div>

<link rel="import" href="/view/include/footer1.html?__inline">
<script src="/view/demo/index.pick.js" ></script>
<link rel="import" href="/view/include/footer2.html?__inline">
