@import "../../base/func";
@import "../../base/mixins";
@import "../../m/icon/index";

.main {
    padding-top: 10px;
    @extend %CENTERBOX;
}
.tag {
    display:inline-block;
    padding-left: .3em;
    padding-right: .3em;
    background-color:#EEE;
    border-radius: 3px;
}
.tag-item {

}
.tag-item-text {

}
.tag-item-remove {
    color:red;
    cursor: pointer;
    @extend %icon-error;
    &:before {
        font-size:1.2em;
    }
}

html .tag--disable {
    opacity: .6;
    .tag-item-remove {
        display: none;
    }
}

.mobile {
    width:rem(450);
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
}
.mobile-title {
    width: rem(300);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ccc;
    border-radius: 3px;
}
